:root {
	--munich-blue: hsl(206, 50%, 69%); 
	--munich-white: hsl(0, 0%, 97%);
	--munich-black: hsl(300, 24%, 6%);
}

body {
	font-family: system-ui;
	background-color: var(--munich-blue);
	color: var(--munich-black);
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
